<!DOCTYPE html />
<html lang="pl">
    <head>
        <title>{{title}}</title>
    </head>
    <body>
       {{pagebody}}
       <button id="button">
           Przycisk
       </button>
    </body>
</html>